{% extends "biblioteca.html" %}
{% block titulo %}
    <title>Atividade JINJA2</title>
{% endblock titulo %}

{% block content%}
<table class="table table-striped">
    <thead>
        {% for key in biblioteca[0].keys()%}
            {% if key == 'isbn'%}    
                <th>{{key | upper }}</th>
                
            {%else%}    
                <th>{{key | capitalize | replace('_',' ')}}</th>
            {% endif %}
        {% endfor%}
    </thead>

    {%for livro in biblioteca %}
    <tbody>    
        <tr>
            <td>{{ livro['isbn'] }}</td>
            <td>{{ livro.titulo }}</td>
            <td>{{ livro.autor }}</td>
            <td>{{ livro.genero }}</td>
            <td>{{ livro.ano_publicacao }}</td>
            <td>{{ livro.editora }}</td>
            <td>{{ livro.paginas }}</td>
            <td>{{ livro['status'] }}</td>
            <td>{{ livro['localizacao'] }}</td>
            <td>
                <form action="" method="POST" onsubmit="return confirm('Confirmar criação?');" style="display:inline;">
                    <button type="submit" class="btn-danger">Criação</button>
                </form>
            </td>
        </tr>    
    </tbody>
    {% endfor %}
</table>
{% endblock content %}
    